<div #parent class="canvas-container" (click)="addReviewTextArea($event)">
  <canvas #fabricSurface class="full-screen-canvas"></canvas>
  <div class="controls">
    <button id="exit-btn" (click)="exit()">Exit</button>
    <button id="save-btn" (click)="saveCanvas()">Save</button>
    <button id="review-btn" (click)="addReview()">Add Review</button>
    <button id="draw-mode-btn" (click)="toggleDrawMode()">{{ drawMode ? 'Cancel Drawing Mode' : 'Turn On Drawing Mode' }}</button>
    <input type="color" id="drawing-color" [(ngModel)]="drawingColor" (change)="updateBrushColor($event)" />
    <input type="range" id="drawing-line-width" min="1" max="100" [(ngModel)]="drawingLineWidth" (change)="updateBrushWidth($event)" />
    <input type="color" id="text-color" [(ngModel)]="textColor" />
    <input type="range" id="text-size" min="1" max="100" [(ngModel)]="fontSize" />
  </div>
</div>