.overlay {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff24;
    cursor: crosshair;
}

.select-area {
    position: absolute;
    top: 0;
    //background-color: #00739613;
    background-color: #007396a2;
}